# IntelliJ IDEA
.idea/
*.iml

# Gradle
build/
.gradle/
gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Project based
test-downloads/
src/test/resources/secrets.json
todo.txt
gradle.properties

